@font-face {
    font-family: Roboto Condensed;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
}

@font-face {
       font-family: Roboto;
        src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap');
}

:root {
    --cobalt: #2B4074;
    --white: #FFFFFF;
    --darkWhite: #DADADA;
    --gray: #4A4A4A;
    --lightWhite: #F9F6E5;
    --lightGreen: #7EBF84;
    --lightGray: #797979;
    --veryLightGray: #9B9B9B;
}

body {
    box-sizing: border-box;
    width: 100%;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/* Start block number 1 - header */
.header {
    height: 100px;
    background-color: var(--cobalt);
}

.flexHeader {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 17px 0 0 61px;
    width: 100px;
    height: 65px;
    background-image: url("../images/site_logo.svg");
}

.headButton {
    margin: 30px 150px 0 0;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 3px;
    cursor: pointer;
}

.backButtonImg {
    margin-top: 14px;
    margin-left: 13px;
    width: 13px;
    height: 14px;
    background-image: url("../images/back_button_img.svg");
    background-size: 100% 100%;
}

/* End block number 1 - header */

/* Start block number 2 - intro */
.intro {
    position: relative;
    margin: 0;
    padding: 0;
    height: 668px;
    background-image: url("../images/bg-img.jpg");
    filter: Alpha(Opacity=50);
    opacity: 0.9;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title1 {
    margin: 0 auto;
    padding-top: 107px;
    max-width: 886px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title1 h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 2px;
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    line-height: 96px;
    color: var(--white);
    text-transform: uppercase;
}

.title2 {
    padding-top: 18px;
    max-width: 886px;
    height: 60px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: var(--white);

}

.about_button {
    margin-top: 28px;
    padding-top: 18px;
    width: 200px;
    height: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    background-color: var(--cobalt);
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--lightWhite);
}

.allMarkers {
    margin: 124px auto 0;
    width: 50px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}

.marker {
    width: 10px;
    height: 10px;
    border: 1px solid var(--white);
    border-radius: 50px;
}

.marker:hover {
    background-color: var(--white);
    box-shadow: 2px 2px 5px var(--white);
    cursor: pointer;
}

.navigatorBar {
    position: absolute;
    right: 0;
    top: 264px;
    margin: auto;
    width: 70px;
    height: 140px;
}

.navigatorButtons {
    width: 70px;
    height: 70px;
}

.buttonSymbols {
    position: absolute;
    left: 25px;
    width: 18px;
    height: 18px;
    transform: rotate(-45deg);
}

.button1Symbol {
    left: 25.44px;
    top: 22.27px;
    border-top: 4px solid var(--darkWhite);
    border-left: 4px solid var(--darkWhite);
}

.button2Symbol {
    top: 92.27px;
    border-top: 0;
    border-left: 0;
    border-bottom: 4px solid var(--darkWhite);
    border-right: 4px solid var(--darkWhite);
}

.navigatorButton1 {
    background-color: var(--cobalt);
}

.navigatorButton2 {
    background-color: var(--lightWhite);
}

.navigatorButtons:hover {
    box-shadow: 2px 2px 5px var(--white);
    cursor: pointer;
}

/* End block number 2 - intro */

/* Start block number 3 - call me */

.callMe {
    height: 192px;
    background-color: var(--cobalt);
}

.flexCallMe {
    display: flex;
    justify-content: space-between;
}

.shortInfo {
    margin: 57px 0 0 150px;
    padding-right: 5px;
}

.shortInfo h2 {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--white);
}

.shortInfo p {
    padding-top: 10px;
    margin-top: 4px;
    max-width: 502px;
    font-family: Dosis, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.buttonCallMe {
    padding-top: 15px;
    margin: 71px 149px 0 0;
    min-width: 200px;
    height: 35px;
    letter-spacing: 2px;
    font-family: Roboto Condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--lightWhite);
    color: var(--cobalt);
}

/* End block number 3 - call me */

/* Start block number 4 - services */
.services {
    height: 546px;
    background-color: var(--white);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.firstServicesBlock {
    padding-left: 62px;
    padding-bottom: 10px;
    max-width: 453.14px;
}

.firstServicesBlock h2 {
    margin: 90px 0 0 0;
    padding: 0;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: var(--cobalt);
}

.firstServicesBlock h3 {
    margin: 64.4px 0 0 0;
    padding: 0;
    max-width: 393px;
    height: auto;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: var(--gray);
}

.decorativeBlock {
    margin: 30px 0 0 0;
    padding: 0;
    width: 100px;
    height: 8px;
    background-color: var(--cobalt);
}

.firstServicesBlock p {
    margin: 34px 0 0 5px;
    padding: 0;
    max-width: 351px;
    height: 68px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--lightGray);
}

.secondServicesBlock {
    max-width: 921.88px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.myFlexBoxs {
    width: 24.8%;
    height: 270.53px;
    border-top: 1px solid var(--lightWhite);
    border-left: 1px solid var(--lightWhite);
    overflow: hidden;
}

.textInsideService {
    display: block;
    max-width: 90%;
    margin: 44px auto 0;
    height: 20px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    transition: all 2s;
    color: var(--cobalt);
}

.allImagesBlocks {
    margin: 78.53px auto 0;
    width: 64px;
    height: 64px;
    background-size: 100% 100%;
    transition: all 2s;
}

.imageBlock1 {
    background-image: url("../images/service_img1.PNG");
}

.imageBlock2 {
    background-image: url("../images/service_img2.PNG");
}

.imageBlock3 {
    background-image: url("../images/service_img3.PNG");
}

.imageBlock4 {
    background-image: url("../images/service_img4.PNG");
}

.imageBlock5 {
    background-image: url("../images/service_img5.PNG");
}

.imageBlock6 {
    background-image: url("../images/service_img6.PNG");
}

.imageBlock7 {
    background-image: url("../images/service_img7.PNG");
}

.imageBlock8 {
    background-image: url("../images/service_img8.PNG");
}


.hiddenText {
    transition: all 2s;
    margin: 21px auto 0;
    max-width: 150px;
    display: block;
    opacity: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: var(--veryLightGray);

}

.hiddenImage {
    transition: all 2s;
    margin: 15px auto 0;
    display: block;
    opacity: 0;
    width: 120px;
    height: 24px;
    background-image: url("../images/more.svg");
    background-size: 100% 100%;
    cursor: pointer;

}


.secondServicesBlock div:hover .allImagesBlocks {
    margin-top: 25px;
    height: 64px;
    transition: all 0.2s;
}

.myFlexBoxs:hover {
    box-shadow: inset 0px 0px 0px 4px var(--cobalt);
}

.secondServicesBlock div:hover .hiddenText, .secondServicesBlock div:hover .hiddenImage{
    opacity: 1;
}

/* Start block number 5 - projects */
.projects {
    height: 660px;
    background: linear-gradient(180deg, var(--cobalt) 0%, rgba(43, 64, 116, 0) 100%);
}

.projectsTitle {
    padding-top: 80px;
    max-width: 381.5px;
    height: 52px;
    margin: 0 auto;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: var(--white);
}

.decorativeBlock2 {
    margin: 24px auto 0;
    background-color: var(--white);
}

/* images panel*/
.projectsImages {
    margin: 77px auto 0;
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.projectsBlocks {
    width: 283px;
    height: 343px;
    display: flex;
    flex-direction: column;
}

.allImagesProjeckts {
    width: 100%;
    height: 283px;
    border-radius: 12px;
}

.imageProjeckt1 {
    background-image: url("../images/project_img1.svg");
}

.imageProjeckt2 {
    background-image: url("../images/project_img2.svg");
}

.imageProjeckt3 {
    background-image: url("../images/project_img3.svg");
}

.imageProjeckt4 {
    background-image: url("../images/project_img4.svg");
}

.projectsBlockName {
    margin-top: 23px;
    max-width: 263px;
    height: 26px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--cobalt);
}

.hiddenProjecktImg {
    margin: 33px auto;
    padding-top: 95px;
    display: none;
    width: 243px;
    height: 122px;
    background: var(--lightWhite);
    border-radius: 4px;
    opacity: 0.7;
}

.projectsBlocks div:hover .hiddenProjecktImg {
    display: flex;
}

.infoButton {
    margin-left: 88px;
    width: 27.98px;
    height: 27.58px;
    border-radius: 55px;
    border: 2px solid var(--cobalt);
    cursor: pointer;
}

.infoButton a {
    padding-left: 10px;
    color: var(--cobalt);
    font-size: 25px;
    text-decoration: none;
}

.foundButton {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
}

.ovalForFound {
    width: 18px;
    height: 18px;
    border-radius: 55px;
    border: 2px solid var(--cobalt);
}

/* part for icon */
.rectangleForFound {
    margin-top: 17px;
    width: 4px;
    height: 18px;
    background: var(--cobalt);
    transform: rotate(-45deg);
}

/* End block number 5 - projects */


/* Start block number 6 - team */
.team {
    position: relative;
    padding-top: 60px;
    padding-left: 127px;
    height: 560px;
    background-color: var(--white);
}

.flexTeam {
    display: flex;
    justify-content: space-around;
}

.teamPhoto {
    width: 470px;
    height: 430px;
    background-image: url("../images/team_photo.png");
    border-radius: 15px;
    background-size: 100% 100%;
}

.teamInfo {
    margin: 0;
    padding-left: 20px;
}

.teamInfo h2 {
    margin-top: 0;
    width: 192px;
    height: 52px;
    margin-bottom: 30px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: var(--gray);
}

.teamInfo p {
    padding-right: 5px;
    margin-top: 39px;
    max-width: 584px;
    height: 170px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--veryLightGray);
}

.buttonWatchVideo {
    display: block;
    padding-top: 21px;
    width: 230px;
    height: 39px;
    background: var(--cobalt);
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: var(--lightWhite);
}

/* End block number 6 - team */

/* Start block number 7 - lastNews */

.lastNews {
    padding-top: 52px;
    height: 992px;
    background: var(--lightWhite);
}

.lastNews h2 {
    margin: 0 auto 0;
    width: 451px;
    height: 56px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: var(--gray);
}

.decBlockNews {
    margin: 19px auto 0;
}

.flexNews {
    margin: 108px auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 770px;
}

.infoButtonForNewsBlocks {
    display: none;
    margin: 0 auto 0;
}

.infoButtonForNewsBlocks a {
    color: var(--white);
}

.newsAllBlocks {
    margin: 25px auto 0;
    width: 270px;
    background-size: 100% 100%;
    border-radius: 4px;
}

.newsBlock1 {
    background-image: url("../images/news_img1.png");
    height: 450px;
}

.newsAllButton {
    display: block;
    width: 255px;
    height: 32px;
    padding: 8px 0 0 15px;
    background-color: var(--white);
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--gray);
}

.newsButton1 {
    margin-top: 410px;
}

.newsAllBlocks:hover {
    box-shadow: inset 0px 0px 0px 10px var(--cobalt);
}

.newsAllBlocks:hover .infoButtonForNewsBlocks {
    display: block;
    margin-top: 200px;
    border-color: var(--white);
}

.newsAllBlocks:hover .newsAllButton {
    width: 250px;
    margin-top: 90px;
    background-color: var(--cobalt);
    color: var(--white);
}

.newsBlock2 {
    height: 199px;
    background-image: url("../images/news_img2.png");
}

.newsButton2 {
    margin-top: 167px;
}

.newsBlock2:hover .infoButtonForNewsBlocks {
    margin-top: 58px;
}

.newsBlock2:hover .newsButton2 {
    margin-top: 30px;
}

.newsBlock3 {
    height: 341px;
    background-image: url("../images/news_img3.png");
}

.newsButton3 {
    margin-top: 309px;
}

.newsBlock3:hover .infoButtonForNewsBlocks {
    margin-top: 140px;
}

.newsBlock3:hover .newsButton3 {
    margin-top: 90px;
}

.newsBlock4 {
    height: 341px;
    background-image: url("../images/news_img4.png");
}

.newsButton4 {
    margin-top: 309px;
}

.newsBlock4:hover .infoButtonForNewsBlocks {
    margin-top: 130px;
}

.newsBlock4:hover .newsButton4 {
    margin-top: 90px;
}

.newsBlock5 {
    height: 383px;
    background-image: url("../images/news_img5.png");
}

.newsButton5 {
    margin-top: 351px;
}

.newsBlock5:hover .infoButtonForNewsBlocks {
    margin-top: 170px;
}

.newsBlock5:hover .newsButton5 {
    margin-top: 100px;
}

.newsBlock6 {
    height: 198px;
    background-image: url("../images/news_img6.png");
}

.newsButton6 {
    margin-top: 166px;
}

.newsBlock6:hover .infoButtonForNewsBlocks {
    margin-top: 68px;
}

.newsBlock6:hover .newsButton6 {
    margin-top: 20px;
}

.newsBlock7 {
    height: 210px;
    background-image: url("../images/news_img7.png");
}

.newsButton7 {
    margin-top: 178px;
}

.newsBlock7:hover .infoButtonForNewsBlocks {
    margin-top: 80px;
}

.newsBlock7:hover .newsButton7 {
    margin-top: 20px;
}

.newsBlock8 {
    height: 434px;
    background-image: url("../images/news_img8.png");
}

.newsButton8 {
    margin-top: 402px;
}


.newsBlock8:hover .infoButtonForNewsBlocks {
    margin-top: 200px;
}

.newsBlock8:hover .newsButton8 {
    margin-top: 120px;
}

/* End block number 7 - lastNews */

/* Start block number 8 - quotes */
.quotesBlock {
    height: 500px;
    background: var(--white);
}

.quotesImg {
    margin: 80px auto 0;
    width: 40px;
    height: 37px;
    background-image: url("../images/quotes_img.PNG");
    background-size: 100% 100%;
}

.qoutes {
    display: block;
    margin: 60px auto 0;
    max-width: 900px;
    height: 108px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--gray);
}

.qoutes span {
    color: var(--cobalt);
    font-weight: bold;
}

.quotesBlock address {
    display: block;
    margin: 30px auto 0;
    width: 330px;
    height: 28px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--gray);
}

.quotesAllMarkers {
    margin-top: 80px;
}

.marker2 {
    width: 10px;
    height: 10px;
    border: 1px solid var(--cobalt);
    border-radius: 50px;
}

.marker2:hover {
    background-color: var(--cobalt);
    box-shadow: 2px 2px 5px var(--cobalt);
    cursor: pointer;
}


/* End block number 8 - quotes */

/* Start block number 9 - Feedback (footer) */

.feedback {
    position: relative;
    height: 639px;
    background-color: var(--cobalt);
}

.secondCiteLogo {
    position: absolute;
    left: calc(50% - 115px);
    top: -30px;
    margin: 0;
    padding: 0;
    width: 230px;
    height: 60px;
    background-image: url("../images/site_logo_2.png");
    background-color: var(--cobalt);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 83px 55px;
    border-radius: 3px;
}

.feedbackH2 {
    padding: 158px 0 0 150px;
    width: 650px;
    height: 61px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    color: var(--white);
}

.ourSocialNetworks {
    margin: 80px auto 0;
    padding: 0 20px 0;
    max-width: 1141px;
    height: 57px;
    display: flex;
}

.allSocialBlocks {
    display: block;
    height: 55px;
    width: 25%;
    border: 1px solid var(--lightGreen);
    background-position: center;
    background-repeat: no-repeat;
}

.socialBlock_1 {
    border-left: 0;
    background-image: url("../images/sNetwork_1.png");
}

.socialBlock_2 {
    background-image: url("../images/sNetwork_2.png");
}

.socialBlock_3 {
    background-image: url("../images/sNetwork_3.png");

}

.socialBlock_4 {
    background-image: url("../images/sNetwork_4.png");
    border-right: 0;
}

.feedbackInfo {
    display: flex;
    justify-content: space-around;
    padding: 0 20px 0;
    max-width: 1141px;
    margin: 80px auto 0;
}

.eachfeedbackInfo {
    width: 24%;
}

.feedbackInfoH2 {
    display: block;
    margin: 0 0 24px;
    padding: 0;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--lightWhite);
}

.feedbackInfoContact {
    display: block;
    width: 130px;
    text-decoration: none;
    margin-top: 2px;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: var(--white);
}

/* End block number 9 - Feedback (footer) */

.upBlock {
    padding-top: 15px;
    height: 42px;
    background: var(--lightWhite);
}

.flexUP {
    display: flex;
    justify-content: flex-end;
}

.buttonUp {
    display: flex;
    width: 130px;
}

.upText {
    display: block;
    margin-right: 25px;
    width: 60px;
    text-transform: uppercase;
    text-align: center;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--gray);
}

.upSymbol {
    margin-top: 5px;
    display: block;
    width: 14px;
    height: 14px;
    left: 132px;
    top: 11px;
    border-top: 4px solid var(--darkWhite);
    border-left: 4px solid var(--darkWhite);
    transform: rotate(45deg);
}

